/* App.css */

.App {
  /* margin-left: 0; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #adbbda;
}

.App-header {
  /* background-color: #282c34; */
  padding: 20px;
  color: #3d52a0;
  font-size: 2.5vw;
  text-align: center;
}
/* 
.App-main {
  /* width: 100%; */
  /* max-width: 600px; */
  /* margin: 20px; */
/* } */ 

/* .App-footer {
  margin-top: auto;
  padding: 10px;
  background-color: #282c34;
  color: white;
  text-align: center;
  width: 100%;
} */

/* Additional styling for buttons, forms, etc. can be added here */


/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
